<launch>
  <!-- This launch file is for a combination of ur arms and shadow hands -->

  <arg name="robot_model" default="ur10"/>
  <arg name="use_moveit" default="true"/>
  <arg name="debug" default="false"/>

  <arg name="robot_description" default="$(find sr_ur_launch)/description/ur10_robot.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg robot_description)'"/>

  <rosparam command="load" file="$(find sr_ur_launch)/config/configuration.yaml"/>
  <param name="ra_sr_ur_robot_hw/robot_program_path" type="str" value="$(find sr_ur_bringup)/robot_programs/"/>

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--shutdown-timeout=1.0 ra_trajectory_controller"/>

  <node if="$(arg debug)" name="fh_finger" pkg="ros_control_robot" type="ros_control_robot" args="" output="screen" launch-prefix="gdb -ex run -args"/>
  <node unless="$(arg debug)" name="fh_finger" pkg="ros_control_robot" type="ros_control_robot" args="" output="screen" launch-prefix="ethercat_grant"/>

</launch>
